Players:
<ul>
{{#each players}}
    <li>
    {{#if url}}
        <a href="/play/player/{{url}}">
        play (player № {{@index}}){{#if state}} ({{state}}){{/if}}</a>
    {{else}}
    bot
    {{/if}}
    </li>
{{else}}
No players
{{/each}}
</ul>

<script type="text/javascript">
    window.roomId = '{{roomId}}';
    window.playersCount = '{{playersCount}}';
</script>
<script src="/libs/require.js" data-main="/main"></script>
<div id="board"></div>
